<%- include('../partials/header') %>

  <section id="show-page">
    <h1>Flight Info:</h1>
    <h4>Airline</h4>
    <div>
      <%= flight.airline %>
    </div>
    <h4>Airport</h4>
    <div>
      <%= flight.airport %>
    </div>
    <h4>Flight Number</h4>
    <div>
      <%= flight.flightNo %>
    </div>
    <h4>Departs</h4>
    <div>
      <%= flight.departs %>
    </div>
    <h4>Arrivals</h4>
    <div>
      <%= flight.arrival %>
    </div>
  </section><br>



  <section>
    <div>Add Destination</div>
    <form action="/flights/<%= flight._id %>" method="POST">
      <label>Departs Date:
        <input type="datetime-local" name="departs">
      </label><br>
      <label>Arrival Date:
        <input type="datetime-local" name="arrival">
      </label><br>
      <br>
      <label>Airport:
        <select name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
        <label>
          <input type="submit">
        </label>
    </form>

  </section>
  <ul>
    <% for (let i=0; i < flight.destination.length; i++) { %>
      <li>
        <%= flight.destination[i].airport %>
          <%= flight.destination[i].arrival %>
      </li>
      <% } %>
  </ul>

  <h3>Add Ticket</h3>
  <form action="/tickets/<%= flight._id %>" method="Get">
    <label>
      <input type="submit">
    </label>
  </form>
  <a href="/flights.<%= flight._id %>/tickets/new"></a>




  <ul>
    <% for (let i=0; i < tickets.length; i++) { %>
      <li>
        <%= tickets[i].seat %>
          <%= tickets[i].price %>
      </li>
      <% } %>
  </ul>


  <%- include('../partials/footer') %>